/* default and works with Dreamweaver */
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	background: url(../assets/mainBG.jpg);

}

#inner_bg {
	/*border: 1px solid #92b901;*/
	background-color: #fff;
	padding:20px;
	border: 1px solid #4381A0;
}



.content_container {
	position: relative;
	display: block;
	float: left;
	margin: 2.5% 2% 2.5% 2.6%;
	width: auto;
	height:430px; 
}



.bg_box{width:100%; padding:1%;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;border:1px solid #b2b2b2;background-color:#F6F6F6;-webkit-box-shadow: #CFCFCF 5px 5px 5px;-moz-box-shadow: #CFCFCF 5px 5px 5px; box-shadow: #CFCFCF 5px 5px 5px;}

.content_title {
	color: #F5F0F0;
	margin:6px;
	
}

.header{
	display:block;
	width:33%;
	background-color:#204F70;
	border:1px solid #204F70;
	padding-left:2%;
	border-top-right-radius: 30px;
}
P {font-family: Verdana, Geneva, sans-serif; 	font-size: 12px; 	color: #555555; 	}
OL  {margin-left: 1.6em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image:none; } 
UL  {margin-left: 1.4em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
LI UL  {margin-left: 1.4em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
LI {margin-top:5px;}
table {margin-bottom:10px;}
	
h1 {font-family:Verdana, Geneva, sans-serif; font-size:14px;  	font-weight:700; 	color:#6e9017; 	padding-bottom:5px; }


/* IE8, FF, Saf, Opera (Everything but IE 6,7) */
html>/**/body  p:second-child {padding-top:25px;color:blue;}
html>/**/body P {font-family: Verdana, Geneva, sans-serif; 	font-size: 12px; 	color: #555555; margin-top:0px;	}
html>/**/body OL  {margin-left: 1.6em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image:none; } 
/*html>/**/body UL  {margin-left: 1.6em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} *
html>/**/body LI UL  {margin-left: 1.4em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
html>/**/body LI {margin-top:5px;}
html>/**/body table {margin-bottom:10px;}
html>/**/body #content{margin: 40px 40px 0px 40px;  background-color:#FFF; font-family:Verdana, Geneva, sans-serif;}	
html>/**/body h1 {font-family:Verdana, Geneva, sans-serif; font-size:14px;  	font-weight:700; 	color:#6e9017; 	padding-bottom:10px; }

/* IE7 */
*:first-child+html OL  {margin-left: 2.0em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image:none; } 
*:first-child+html UL  {margin-left: 1.4em; margin-top: -8px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
*:first-child+html LI UL  {margin-left: 1.4em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
*:first-child+html LI OL  {margin-left: 2.0em; margin-top: 0px; padding-bottom:5px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	} 
*:first-child+html LI {margin-top:5px;}
*:first-child+html LI LI{margin-top:5px;}
*:first-child+html table {margin-bottom:22px; margin-top:19px;}
*:first-child+html #content{margin: 0px 40px 0px 40px;  background-color:#FFF; font-family:Verdana, Geneva, sans-serif;}	
*:first-child+html h1 {font-family:Verdana, Geneva, sans-serif; font-size:14px;  	font-weight:700; 	color:#6e9017; 	margin-bottom:10px; }	

/* IE6 and below */
* html P {font-family: Verdana, Geneva, sans-serif; 	font-size: 12px; 	color: #555555; 	}
* html OL  {margin-left: 2.0em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image:none; } 
* html UL  {margin-left: 1.4em; margin-top: -13px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
* html LI UL  {margin-left: 1.4em; margin-top: 0px; padding-bottom:0px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;	list-style-image: url(../images/bullet.gif);list-style-type : disc;	} 
* html LI OL  {margin-left: 2.0em; margin-top: 0px; padding-bottom:5px; padding-top:0px; padding-left:0px;	font-family : Verdana, Arial, Helvetica;	font-size : 12px; list-style-position : outside;	color : #555555;		} 
* html LI {margin-top:0px;}
* html LI LI{margin-top:5px;}
* html table {margin-bottom:22px; }
	
* html h1 {font-family:Verdana, Geneva, sans-serif; font-size:14px;  	font-weight:700; 	color:#6e9017;  height:10px; }

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #555555;
	margin-bottom:15px;
}

th { font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #555555; text-align:center; }
td { font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #555555; }

form { margin-top:0px; }

a:link { 
	text-decoration: none; 
	font-size : 12px;
	color: blue;
}

a:visited { 
	text-decoration: none; 
	font-size : 12px;
	color: purple;
}
	
a:hover { 
	text-decoration: underline; 
	font-size : 12px;
	color: green;
}

a:active { 
	text-decoration: none; 
	font-size : 12px;
	color: red;
}



.rowColor1 { background-color:#EAF1F5; }
.rowColor2 { background-color:#D5DEE3; }

#para1, #para2, #para3, #para4 {
	font-size: 13px;
}

.box_main p {
	padding: 0px 10px 10px 10px;
}

.box_1 {
	background-color: #fef28b;
	height: 40px;
	line-height: 35px;
	padding-left: 10px;
	font-size: 13px;
	font-weight:bold;
}

.box_main {
	width: 662px;
	background: url("../assets/tab0503.jpg") no-repeat scroll center top;
	margin: auto;
}

.text_rote {
	width: 200px;
	height: 24px;
	line-height: 24px;
	margin: 5px 0 2px 35px;
	padding-left: 10px;
	background-color: #fef28b;
}

.clearfix {
	clear: both;
}

.text_rote:hover {
	color: #cc0000;
}

.box_left {
	background: url("../assets/tab0502.png") no-repeat;
	background-position: bottom;
	float: left;
	 height: 170px;
	margin-top: 200px;
	padding-top: 95px;
	width: 322px;
}

.box {
	width: 330px;
	height: 340px;
	background: #FFF;
	margin: 40px auto;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #000;

}

.table1 tr td {
	text-align: center;
	margin: 0px;
	padding: 5px;
}

.table2 tr td {
	text-align: center;
	margin: 0px;
	padding: 5px;
}

.innerdiv {
	overflow: auto;
	height: 290px;
	padding:5px;
}