body {
	font-family: Verdana, Geneva, sans-serif;
	color:#3B3B3B;
	font-size:13px;
	background: url(../assets/mainBG.jpg);
}

.submit {
	
	display:block;
	text-align:center;
	
	
}


#inner_bg {
	/*border: 1px solid #92b901;*/
	background-color: #DEF4F9;
	padding:20px;
	padding-bottom:60px;
	border: 1px solid #4381A0;
}

#qForm {
	margin-left: 5%;
	margin-right: 5%;
	/*border: 2px solid #4381A0;
	border-radius: 5px;*/
	padding:20px;
}

.content_container {
	position: relative;
	display: block;
	float: left;
	margin: 2.5% 2% 2.5% 2.6%;
	width: 95%; 
}



.bg_box{width:98%; padding:1%;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;border:1px solid #b2b2b2;background-color:#F6F6F6;-webkit-box-shadow: #CFCFCF 5px 5px 5px;-moz-box-shadow: #CFCFCF 5px 5px 5px; box-shadow: #CFCFCF 5px 5px 5px;}

.content_title {
	color: #F5F0F0;
	margin:6px;
}

.header{
	display:block;
	width:33%;
	background-color:#204F70;
	border:1px solid #204F70;
	padding-left:1%;
	border-top-right-radius: 30px;
}

/****************** Grid Table ***************************/
.gridStyle {
	border-style:solid; 
	border-color: #369; 
	border-collapse:collapse;
	border-width:0px 0 1px 0; 
}
th.gridTop {
	border-style:solid; 
	border-color:#369; 
	border-collapse:collapse;
	border-width:0px 0 1px 0;
	padding-bottom: 5px;
}
td.gridLeft {
	border-style:solid; 
	border-color:#369; 
	border-collapse:collapse;
	border-width: 0px 0px 1px 0; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding:5px;

}

/****************** End of Grid Table ***************************/