/* ==========================================================================
   Author's custom styles
========================================================================== */

.colored {
	padding-left: 2%;
	color: #FFF;
	background-color: #6693BC;
}

.h1fix {
	padding-top: 14px;
}

.h4fix {
	padding-top: 10px;
}